.sidebar{
    width: 30%;
    margin: 0px;
    height: 100vh;
    background-color: black;
    font-family: sans-serif;
    text-align: left;
    text-emphasis-color: white;
    color: white;
    float:left;
}
.content
{
    float:right;
    width: 70%;
    
}

p{
    margin-left:10px;
}

html{
    height: 100%;
}
h1{
    margin: 0px;
}
body{
    margin-top: 0px;
    margin: 0px;
}
img{
    margin: 10px;
}
