$color: red;

.sidebar{
    width: 30%;
    margin: 0px;
    height: 100vh;
    background-color: black;
    font-family: sans-serif;
    text-align: left;
    color: white;
    float:left;
    h1{
        font-weight:bold;
        font-size: 40pt;
        margin: 0px;
    }
    
}
.content
{
    float:right;
    width: 70%;
    font-family: sans-serif;
    
}

p{
    font-size: 25pt;
    margin-left:10px;
}


h1{
    font-weight:bold;
    font-size: 40pt;
    margin: 0px;
    color:blue;
}
body {
    margin-top: 0px;
    margin: 0px;
    zoom: 100%;
    
} 
@media (min-width: 500px)
{
    body{
      background-color: white;  
    }  
}
@media (max-width: 499px)
{
    body{
        background-color: $color;
    }  
}

img{
    margin: 10px;
    
    clear: left;
}


a{
    font-size: 25pt;
    float: left;
    clear: left;
}
